---
permalink: /404.html
---

<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include banner.html %}

  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <p class="fs-1">404</p>

      <p><strong>Page not found :(</strong></p>

      <p class="text-secondary">
        the page u requested may not be avaliable temporary.
        <br />
        pls try refreshing the page later, or u can return to the <a href="/">index</a>.
        <br />stickers
        if u believe this is a bug, <a href="https://github.com/KCISEastCampus/Academic/issues">pls report</a>.
      </p>

      <img src="https://http.cat/404" style="width: 500px;" />
    </div>
  </div>

  {% include theme_button.html %}
</body>

</html>
