:root {
  --al-color: #5cc07f;
  --ig-color: #5c6bc0;
  --background-color: #eef2f3;
  --text-color: #333;
  --box-color: #fff;
}

* {
  transition: 0.5;
  font-family: 'Jua', sans-serif;
}

.al-button {
  background-color: var(--al-color);
}

.ig-button {
  background-color: var(--ig-color);
}
