* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.math {
  padding: 2px 4px;
  background-color: #f8f9fa;
  border-radius: 3px;
  overflow-x: auto;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.table-of-contents {
  overflow-x: auto;
  display: block;
}

#content-container {
  margin-left: 30px;
}

#main-container {
  width: 96%;
  margin: 0 2%;
}
