/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #eef2f3, #d6e6f2);
    color: #333;
    padding: 20px;
    line-height: 1.6;
    text-align: center;
}

/* Header */
header {
    margin-bottom: 30px;
}

h1 {
    color: #2c3e50;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2em;
    color: #5c6bc0;
}

/* Buttons Container */
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.logo img {
    max-width: 500px; /* 控制Logo的大小 */
    margin-bottom: 20px;
}

.btn {
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: all 0.3s ease;
    width: 250px;
    text-align: center;
}

.AL-button {
    background-color: #5cc07f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.IG-button {
    background-color: #5c6bc0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    transform: translateY(-3px);
}

/* Footer */
footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #333;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
    .buttons-container {
        flex-direction: column; /* 改为垂直布局 */
        gap: 15px;
    }

    .btn {
        padding: 12px 25px;
        font-size: 1.1em;
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    .description {
        font-size: 1.1em;
    }

    footer {
        font-size: 0.8em;
    }
}
