<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

{% include head.html %}

<body>
  <header class="text-center py-4">
    <a href="/"><img src="https://www.kcisec.site/assets/images/school-logo.svg"
        title="KangChiao International School East Campus Logo" class="img-fluid" style="max-width: 100px;"></a>
    <h1 class="mt-3">A-Level Homepage</h1>
    <p class="lead">
      <span class="text-primary">Blue represents IGCSE subjects</span>;<br>
      <span class="text-success">Green represents A-Level subjects</span>.
    </p>
  </header>

  {% include banner.html %}

  <nav class="nav justify-content-center flex-wrap py-3">
    <a class="btn btn-outline-primary m-2" href="./Mathematics/">📘 IG Math</a>
    <a class="btn btn-outline-success m-2" href="./AS_Mathematics/">📗 AS Math</a>
    <a class="btn btn-outline-primary m-2" href="./Physics/">📘 IG Physics</a>
    <a class="btn btn-outline-primary m-2" href="./Chemistry/">📘 IG Chemistry</a>
    <a class="btn btn-outline-secondary m-2" href="#" onclick="engUnderConstruction()">🚧 IG Biology</a>
    <a class="btn btn-outline-secondary m-2" href="#" onclick="engUnderConstruction()">🚧 IG Economics</a>
    <a class="btn btn-outline-secondary m-2" href="#" onclick="engUnderConstruction()">🚧 IG ESL</a>
    <!-- <a class="btn btn-outline-primary m-2" href="https://kcisec.site/Computer_Science">🖥️ IG Computer Science</a> -->
  </nav>

  <div class="container my-5 text-center">
    <h2 class="mb-4">Upcoming Exam Dates</h2>
    <div class="row justify-content-center shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="col-md-6 mb-4">
        <h3>A Levels and IGCSEs Official Exams</h3>
        <a href="/assets/pdf/Confirmed-6Y25-and-6X25-TT-v1.1-1.pdf" target="_blank" class="btn btn-outline-info">
          📅 OxfordAQA Exam Timetable May./Jan. 25
        </a>
      </div>
    </div>
  </div>

  {% include theme_button.html %}

  {% include footer.html %}
</body>
<script src="/assets/js/script.js"></script>

</html>
