---
layout: none
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  {% include mathjax.html %}
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="/assets/css/subject.css">
  <script src="/assets/js/toc_generator.js"></script>
  <script src="/assets/js/image_modal.js"></script>
  <script src="/assets/js/table_wrapper.js"></script>
</head>


<body>
  <a href="{{ '/' | relative_url }}" class="btn btn-outline-info back-button" aria-label="Return to homepage">
    <i class="bi bi-caret-left-fill"></i>Back to Home
  </a>

  <p class="fs-1 text-center mt-3">{{ page.title | default: site.title }}</p>
  <hr class="mb-2" />

  <!-- TOC Toggle Button for Mobile -->
  <button class="toc-toggle" id="tocToggle" type="button" aria-label="Toggle Table of Contents" aria-controls="toc" aria-expanded="false">
    <i class="bi bi-list"></i>
  </button>

  <div id="main-container">
    <div id="content-container">
      {{ content }}
    </div>
    <div id="toc" class="table-of-contents">
      <h2 class="contents-list">Contents</h2>
      <div class="toc-content">
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include theme_button.html %}

  <script>
    generateTOC();
  </script>

</body>

</html>
